td, th {
	border: 1px solid;
  }
  
h1 {
  font-size: 64px;
  font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
  color: cornflowerblue;
  background-color: lightgray;
  font-weight: bold;
  text-align: center;
  padding: 40px;
}

html {
  background-image radial-gradient(purple, magenta, violet);
  background-size: cover;
}
