td, th {
	border: 1px solid;
  }
  
h1 {
  font-size: 5in;
  font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
  color: cornflowerblue;
  font-weight: bold;
  text-align: center;
  margin-top: 800px;
}