td, th {
	border: 1px solid;
  }
  
h1 {
  font-size: 64px;
  font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
  color: cornflowerblue;
  font-weight: bold;
  text-align: center;
  margin-top: 48px;
}

body {
  background-image: url(images/background.jpeg);
}
